# Node modules
node_modules/

# dotenv environment variable files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp

# Optional build directories
dist/
build/

# Misc
*.log
*.tsbuildinfo

# Ignore all files inside the images folder
/images/*

# But don't ignore this special placeholder file
!/images/.gitkeep
